node_modules
.DS_Store
.codex/**
!.codex/
!.codex/skills/
!.codex/skills/ui-ux-pro-max/
!.codex/skills/ui-ux-pro-max/**
!.codex/skills/git-commit-message/
!.codex/skills/git-commit-message/**
**/__pycache__/
*.pyc
backend/.env
frontend/.env
frontend/dist/**
