node_modules
.DS_Store
.codex/**
!.codex/
!.codex/skills/
!.codex/skills/ui-ux-pro-max/
!.codex/skills/ui-ux-pro-max/**
!.codex/skills/git-commit-message/
!.codex/skills/git-commit-message/**
**/__pycache__/
*.pyc
services/backup-proxy/node/.env
services/backup-proxy/worker/wrangler.toml
services/backup-proxy/worker/.dev.vars
frontend/.env
frontend/dist/**
services/backup-proxy/worker/.wrangler/**
